:root {
  --plastic: rgb(242, 245, 170);
  --ubuntu: rgb(48, 10, 36);
}

@keyframes rainbow {
  0% { color: transparent; }
  7% { color: #ff0000; }
  12.5% { color: #ff7f00; }
  25% { color: #ffff00; }
  37.5% { color: #00ff00; }
  50% { color: #007fff; }
  62.5% { color: #0000ff; }
  75% { color: #7fff00; }
  87.5% { color: #ff00ff; }
  100% { color: #ff0000; }
}

* {
  font-family: 'Courier Prime', monospace;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
}
body {
  background-image: url(https://cdn.pixabay.com/photo/2016/01/25/18/21/wood-1161206_1280.jpg);
  background-attachment: fixed;
}



.topbar {
  color: limegreen;
  padding: 4px 0;
  background-color: black;
  border: 12px solid var(--plastic);
  height: 13vh;
  min-height: 55px;
  position: fixed;
  top: 0;
  width:100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .5);
  z-index: 100;
  @media (max-height: 560px) {
    flex-direction: row;
  };
}

.topbar-top {
  display: flex;
  text-transform: uppercase;
  font-size: 2.3vh;
  @media (max-height: 560px) {
    padding-left: 10px;
  };
}
.topbar-bottom {
  display: flex;
  justify-content: space-around;
  width: 100%;
}
.topbar-bottom a {
  color: limegreen;
  font-size: 2.4vh;
  text-decoration: none;
}
.power-button {
  border: 1px solid gray;
  width: 16px;
  height: 12px;
  position: absolute;
  bottom: -12px;
  right: 25px;
  box-shadow: 0px 0px 1px .5px rgba(0, 0, 0, 0.4);
  box-shadow: inset 0px 0px 1px .5px rgba(0, 0, 0, 0.3);

}
.power-light {
  height: 3px;
  width: 5px;
  background-color: lime;
  position: absolute;
  right: 4px;
  top: 4px;
  box-shadow: 0px 0px 1px .5px rgba(0, 0, 0, 0.4);
}
 


 #welcome-section, #contact{
   border: 2.5vw solid var(--plastic);
   /*min-width: 500px;*/
 }
 #welcome-section {
   margin: 30vh 7vw 20vh;
 }
 .screen {
   display: flex;
   flex-direction: column;
   background-color: var(--ubuntu);
   border-radius: 8px;
   margin: -8px;
   padding: 15px 0 5px 20px;
 }
 .screen h1 {
   color: lime;
   font-size: 2vw;
 }
 .screen span {
   color: white;
   font-size: 3.6vh;
 }
 .screen p {
   color: white;
   text-align: center;
   padding-bottom: 8vh;
 }
 .ascii-art {
    font-family: monospace;
    white-space: pre;
    color: rgb(0, 0, 255);
    display: flex;
    align-self: center;
    padding: 8vh 0;
    font-size: 1vw;
}



.project-container {
  padding: 2vh 0;
  margin-top: -10vh;
}
.project-container h2 {
  padding: 8vh 0;
  text-align: center;
  color: limegreen;
  font-size: 8vh;
}
.multi-pannel {
  display: flex;
  flex-wrap: wrap;
  gap: 2vw;
  justify-content: center;
}
.project {
  border: 2vh solid var(--plastic);
  display: flex;
  flex-direction: column;
  width: 25vw;
  min-width: 250px;
  text-align: center;
  
}
.project h3 {
  background-color: var(--ubuntu);
  color: white;
  text-align: center;
  font-size: 3vh;
  padding: 1.5vh 0;
  height: 100%;
}

.project h3 span {
  color: transparent;
}
h3:hover span {
  cursor: pointer;
  animation: rainbow 8s infinite;
}
.see-my {
  padding: 2vh 3vw;
  margin: 10vh auto -6vh;
}
.project-container button img {
  width: 3vh;
}
.project-container button {
  display: flex;
  justify-content: space-around;
  gap: 2vw;
  align-items: center;
}
#contact {
  margin: 30vh 3vw 20vh;
}
.project a {
  color: limegreen;
  font-size: 3.5vh;
  text-decoration: none;
}
a:hover {
  color: lime;
  transition: color 1s;
}
.social-block {
  padding: 4vh 2vh;
}
.screen.two {
  padding: 1vh auto;
  text-align: center;
}
.screen.two h1 {
  padding: 6vh;
}
.social-block a {
  color: limegreen;
  font-size: 3.5vh;
  text-decoration: none;
}

footer {
  display: flex;
  flex-direction: column;
  background-color: black;
  color: white;
  align-items: center;
  justify-content: center;
  height: 8vh;

}

@media screen and (max-width: 375px) {
  /* CSS rules */
}
